*.picasa.ini
*.tdo
*.aux
*.tmp
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.synctex
*.synctex(busy)
*abbrev_list.aux
*.tps
*.sublime-workspace
*.local.tcp
*.synctex.gz
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.xdv
.idea
\#*\#

/code/aleksandr-k3s-istio1/plots/*/*.txt
/code/aleksandr-k3s-istio2/load
/code/aleksandr-k3s-istio2/old-data
/code/aleksandr-k3s-istio2/parse

/code/*/venv
/code/*/istio-1.24.3